<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerd Nook</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link href="https://fonts.cdnfonts.com/css/nats" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="header-container"><div class="header">
        <div class="control-panel">
            <div class="main">
                <div class="main-logo">
                    <img class="main-logo-svg" src="https://www.svgrepo.com/show/496995/cpu-setting.svg" alt="">
                </div>
                <div class="main-title">
                    <h1>Nerd Nook</h1>
                </div>
            </div>
            <div class="button">
                <button type="submit" class="button-3">Contact</button>
            </div>
            <div class="button">
                <button type="button" class="button-3">About</button>
            </div>
            <div class="button">
                <button type="submit" class="button-2">Built PC</button>
            </div>
            <div class="field">
                <input placeholder="Search" class="field-input" type="text">
            </div>
            <div class="button">
                <a class="button-1" th:href="@{/signin}">Sign in</a>
            </div>
            <div class="button">
                <a class="button-1" th:href="@{/login}">Log in</a>
            </div>
        </div>
        <div class="intro">
            <h1 class="intro-heading">Nerd Nook</h1>
            <p class="intro-quote">You ask, we build</p>
        </div>
    </div></div>
<div class="manufacturers">
    <img class="manufacturers-svg" style="width: 120px; height: 120px;" src="https://cdn.worldvectorlogo.com/logos/amd-logo-1.svg" alt=""/>
    <img class="manufacturers-svg" style="width: 95px; height: 95px;" src="https://cdn.worldvectorlogo.com/logos/intel-6.svg" alt=""/>
    <img class="manufacturers-svg" style="width: 90px; height: 90px;" src="https://cdn.worldvectorlogo.com/logos/nvidia-7.svg" alt=""/>
    <img class="manufacturers-svg" style="width: 180px; height: 180px;" src="https://cdn.worldvectorlogo.com/logos/hyperx-logo-lg.svg" alt=""/>
    <img class="manufacturers-svg" style="width: 180px; height: 180px;" src="https://cdn.worldvectorlogo.com/logos/kingston-3.svg" alt=""/>
</div>
    <div class="about-container">
<div class="about">
    <div class="about-article">
        <h2>About us</h2>
        <p>At PCPalace, we offer a unique online shopping experience where customers can build their own custom PC configurations. With our intuitive configurator tool, you can select from a wide range of components, including processors, motherboards, graphics cards, and more. Our knowledgeable team is available to assist with any questions or concerns, and our fast shipping ensures that your new PC arrives at your doorstep quickly. Whether you're a gamer, content creator, or just looking for an upgrade, we have the parts and expertise to help you build the perfect PC for your needs.</p>
    </div>
    <div class="about-pictures">
        <img class="about-pictures-png" src="https://images.unsplash.com/photo-1597872200969-2b65d56bd16b?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <img class="about-pictures-png" src="https://images.unsplash.com/photo-1587202372775-e229f172b9d7?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <img class="about-pictures-png" src="https://images.unsplash.com/photo-1596697938846-313cdbbe4fd8?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
    </div>
</div>
    </div>
    <div class="available-container">
        <div class="available">
        <div class="available-pcs-button">
            <button class="button-4" type="button">PCs available</button>
        </div>
        <div class="available-pcs">
            <div class="available-pcs-budget">
                <div class="available-pcs-images">
                    <img class="available-pcs-image-png" src="https://images.unsplash.com/photo-1542729716-6d1890d980ee?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                </div>
                <div class="available-pcs-text">
                    <h2 class="available-pcs-text-h2">Budget builds</h2>
                    <h4 class="available-pcs-text-h4">up to $900</h4>
                    <p class="available-pcs-text-p">The optimal solution for gaming and creativity</p>
                </div>
                <div class="available-pcs-button-browse">
                    <button class="button-1" type="button">Browse</button>
                </div>
            </div>
            <div class="available-pcs-premium">
                <div class="available-pcs-images">
                    <img class="available-pcs-image-png" src="https://images.unsplash.com/photo-1587302912306-cf1ed9c33146?q=80&w=1960&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                </div>
                <div class="available-pcs-text">
                    <h2 class="available-pcs-text-h2">Premium builds</h2>
                    <h4 class="available-pcs-text-h4">from $1 000</h4>
                    <p class="available-pcs-text-p">The most powerful PCs for gaming and work</p>
                </div>
                <div class="available-pcs-button-browse">
                    <button class="button-1" type="button">Browse</button>
                </div>
            </div>
            <div class="available-pcs-custom">
                <div class="available-pcs-images">
                    <img class="available-pcs-image-png" src="https://images.unsplash.com/photo-1587202372583-49330a15584d?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                </div>
                <div class="available-pcs-text">
                    <h2 class="available-pcs-text-h2">Custom builds</h2>
                    <h4 class="available-pcs-text-h4">$1 000 - 15 000</h4>
                    <p class="available-pcs-text-p">Custom configurations</p>
                </div>
                <div class="available-pcs-button-browse">
                    <button class="button-1" type="button">Browse</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="trusted-container">
        <div class="trusted">
            <div class="trusted-heading">
                <h2>Our trusted partners</h2>
            </div>
            <div class="trusted-logos">
                <img style="width: 120px; height: 120px;" src="https://cdn.worldvectorlogo.com/logos/microsoft-6.svg" alt="">
                <img style="width: 60px; height: 60px;" src="https://cdn.worldvectorlogo.com/logos/substance-painter.svg" alt="">
                <img style="width: 150px; height: 150px;" src="https://cdn.worldvectorlogo.com/logos/autodesk-4.svg" alt="">
                <img style="width: 80px; height: 80px;" src="https://cdn.worldvectorlogo.com/logos/jetbrains-1.svg" alt="">
                <img style="width: 60px; height: 60px;" src="https://cdn.worldvectorlogo.com/logos/blender-2.svg" alt="">
            </div>
        </div>
    </div>
    <div class="bottom-container">
        <div class="bottom">
            <div class="bottom-heading-company">
                <h2>Company</h2>
                <h5>Contacts</h5>
                <h5>About us</h5>
                <h5>Our production</h5>
                <h5>News</h5>
                <h5>Articles</h5>
            </div>
            <div class="bottom-heading-support">
                <h2>Support</h2>
                <h5>Shipping</h5>
                <h5>Payment</h5>
                <h5>Warranty</h5>
                <h5>FAQ</h5>
            </div>
            <div class="bottom-heading-project">
                <h2>Project</h2>
                <h5>Bloggers</h5>
                <h5>Gaming clubs</h5>
                <h5>Cybersports</h5>
                <h5>Events</h5>
            </div>
            <div class="social-logos-container">
                <div class="social-logos">
                    <svg width="50" height="50" viewBox="0 0 512 512" style="color:currentColor" xmlns="http://www.w3.org/2000/svg" class="h-full w-full"><rect width="512" height="512" x="0" y="0" rx="30" fill="transparent" stroke="transparent" stroke-width="0" stroke-opacity="100%" paint-order="stroke"></rect><svg width="512px" height="512px" viewBox="0 0 48 48" fill="currentColor" x="0" y="0" role="img" style="display:inline-block;vertical-align:middle" xmlns="http://www.w3.org/2000/svg"><g fill="currentColor"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M17.59 34.173A48.874 48.874 0 0 1 14.68 38C7.3 37.79 4.5 33 4.5 33a44.83 44.83 0 0 1 4.81-19.52A16.47 16.47 0 0 1 18.69 10l1 2.31A32.688 32.688 0 0 1 24 12a32.964 32.964 0 0 1 4.33.3l1-2.31a16.47 16.47 0 0 1 9.38 3.51A44.83 44.83 0 0 1 43.5 33s-2.8 4.79-10.18 5a47.42 47.42 0 0 1-2.86-3.81m6.46-2.9c-3.84 1.945-7.556 3.89-12.92 3.89s-9.08-1.945-12.92-3.89"/><circle cx="17.847" cy="26.23" r="3.35" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><circle cx="30.153" cy="26.23" r="3.35" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></g></svg></svg>
                    <svg width="80" height="80" viewBox="0 0 512 512" style="color:currentColor" xmlns="http://www.w3.org/2000/svg" class="h-full w-full"><rect width="512" height="512" x="0" y="0" rx="30" fill="transparent" stroke="transparent" stroke-width="0" stroke-opacity="100%" paint-order="stroke"></rect><svg width="256px" height="256px" viewBox="0 0 24 24" fill="currentColor" x="128" y="128" role="img" style="display:inline-block;vertical-align:middle" xmlns="http://www.w3.org/2000/svg"><g fill="currentColor"><path fill="currentColor" fill-rule="evenodd" d="M7.465 1.066C8.638 1.012 9.012 1 12 1c2.988 0 3.362.013 4.534.066c1.172.053 1.972.24 2.672.511c.733.277 1.398.71 1.948 1.27c.56.549.992 1.213 1.268 1.947c.272.7.458 1.5.512 2.67C22.988 8.639 23 9.013 23 12c0 2.988-.013 3.362-.066 4.535c-.053 1.17-.24 1.97-.512 2.67a5.396 5.396 0 0 1-1.268 1.949c-.55.56-1.215.992-1.948 1.268c-.7.272-1.5.458-2.67.512c-1.174.054-1.548.066-4.536.066c-2.988 0-3.362-.013-4.535-.066c-1.17-.053-1.97-.24-2.67-.512a5.397 5.397 0 0 1-1.949-1.268a5.392 5.392 0 0 1-1.269-1.948c-.271-.7-.457-1.5-.511-2.67C1.012 15.361 1 14.987 1 12c0-2.988.013-3.362.066-4.534c.053-1.172.24-1.972.511-2.672a5.396 5.396 0 0 1 1.27-1.948a5.392 5.392 0 0 1 1.947-1.269c.7-.271 1.5-.457 2.67-.511Zm8.98 1.98c-1.16-.053-1.508-.064-4.445-.064c-2.937 0-3.285.011-4.445.064c-1.073.049-1.655.228-2.043.379c-.513.2-.88.437-1.265.822a3.412 3.412 0 0 0-.822 1.265c-.151.388-.33.97-.379 2.043c-.053 1.16-.064 1.508-.064 4.445c0 2.937.011 3.285.064 4.445c.049 1.073.228 1.655.379 2.043c.176.477.457.91.822 1.265c.355.365.788.646 1.265.822c.388.151.97.33 2.043.379c1.16.053 1.507.064 4.445.064c2.938 0 3.285-.011 4.445-.064c1.073-.049 1.655-.228 2.043-.379c.513-.2.88-.437 1.265-.822c.365-.355.646-.788.822-1.265c.151-.388.33-.97.379-2.043c.053-1.16.064-1.508.064-4.445c0-2.937-.011-3.285-.064-4.445c-.049-1.073-.228-1.655-.379-2.043c-.2-.513-.437-.88-.822-1.265a3.413 3.413 0 0 0-1.265-.822c-.388-.151-.97-.33-2.043-.379Zm-5.85 12.345a3.669 3.669 0 0 0 4-5.986a3.67 3.67 0 1 0-4 5.986ZM8.002 8.002a5.654 5.654 0 1 1 7.996 7.996a5.654 5.654 0 0 1-7.996-7.996Zm10.906-.814a1.337 1.337 0 1 0-1.89-1.89a1.337 1.337 0 0 0 1.89 1.89Z" clip-rule="evenodd"/></g></svg></svg>
                    <svg width="50" height="50" viewBox="0 0 512 512" style="color:currentColor" xmlns="http://www.w3.org/2000/svg" class="h-full w-full"><rect width="512" height="512" x="0" y="0" rx="30" fill="transparent" stroke="transparent" stroke-width="0" stroke-opacity="100%" paint-order="stroke"></rect><svg width="512px" height="512px" viewBox="0 0 24 24" fill="#000000" x="0" y="0" role="img" style="display:inline-block;vertical-align:middle" xmlns="http://www.w3.org/2000/svg"><g fill="black"><path fill="currentColor" fill-rule="evenodd" d="M15.021 3.343c.509-.087 1.078-.116 1.614-.025a4.85 4.85 0 0 1 2.54 1.273c.456.01.905-.08 1.302-.208a5.36 5.36 0 0 0 1.098-.501l.009-.006a.75.75 0 0 1 1.042 1.037c-.207.315-.496.877-.819 1.507l-.155.301c-.185.36-.375.724-.552 1.036c-.111.196-.23.395-.35.567v.274A12.34 12.34 0 0 1 8.287 21.03a12.32 12.32 0 0 1-6.694-1.97a.75.75 0 0 1 .5-1.374a7.471 7.471 0 0 0 4.033-.642a4.858 4.858 0 0 1-2.61-2.922a.75.75 0 0 1 .147-.722l.01-.01A4.848 4.848 0 0 1 2.05 9.793v-.052a.75.75 0 0 1 .553-.724A4.84 4.84 0 0 1 2.09 6.84a4.9 4.9 0 0 1 .65-2.442a.75.75 0 0 1 1.232-.1a10.89 10.89 0 0 0 7.006 3.93a4.85 4.85 0 0 1 2.562-4.406c.402-.214.934-.385 1.482-.479ZM3.743 10.891a3.35 3.35 0 0 0 2.503 2.164a.75.75 0 0 1 .072 1.453c-.272.083-.551.14-.834.173a3.358 3.358 0 0 0 2.59 1.3a.75.75 0 0 1 .45 1.339a8.97 8.97 0 0 1-3.548 1.695a10.82 10.82 0 0 0 3.313.515h.009A10.838 10.838 0 0 0 19.25 8.607v-.535a.75.75 0 0 1 .186-.495c.07-.079.19-.261.36-.56c.16-.282.338-.622.523-.981l.033-.066a4.992 4.992 0 0 1-1.593.097a.75.75 0 0 1-.47-.237a3.35 3.35 0 0 0-1.904-1.032a3.42 3.42 0 0 0-1.11.025a3.605 3.605 0 0 0-1.028.323a3.35 3.35 0 0 0-1.678 3.74a.75.75 0 0 1-.767.925a12.39 12.39 0 0 1-8.149-3.627a3.41 3.41 0 0 0-.063.657v.002a3.34 3.34 0 0 0 1.486 2.785A.75.75 0 0 1 4.64 11a4.798 4.798 0 0 1-.897-.11Z" clip-rule="evenodd"/></g></svg></svg>
                    <svg width="100" height="100" viewBox="0 0 512 512" style="color:currentColor" xmlns="http://www.w3.org/2000/svg" class="h-full w-full"><rect width="512" height="512" x="0" y="0" rx="30" fill="transparent" stroke="transparent" stroke-width="0" stroke-opacity="100%" paint-order="stroke"></rect><svg width="256px" height="256px" viewBox="0 0 1024 1024" fill="currentColor" x="128" y="128" role="img" style="display:inline-block;vertical-align:middle" xmlns="http://www.w3.org/2000/svg"><g fill="currentColor"><path fill="currentColor" d="M960 509.2c0-2.2 0-4.7-.1-7.6c-.1-8.1-.3-17.2-.5-26.9c-.8-27.9-2.2-55.7-4.4-81.9c-3-36.1-7.4-66.2-13.4-88.8a139.52 139.52 0 0 0-98.3-98.5c-28.3-7.6-83.7-12.3-161.7-15.2c-37.1-1.4-76.8-2.3-116.5-2.8c-13.9-.2-26.8-.3-38.4-.4h-29.4c-11.6.1-24.5.2-38.4.4c-39.7.5-79.4 1.4-116.5 2.8c-78 3-133.5 7.7-161.7 15.2A139.35 139.35 0 0 0 82.4 304C76.3 326.6 72 356.7 69 392.8c-2.2 26.2-3.6 54-4.4 81.9c-.3 9.7-.4 18.8-.5 26.9c0 2.9-.1 5.4-.1 7.6v5.6c0 2.2 0 4.7.1 7.6c.1 8.1.3 17.2.5 26.9c.8 27.9 2.2 55.7 4.4 81.9c3 36.1 7.4 66.2 13.4 88.8c12.8 47.9 50.4 85.7 98.3 98.5c28.2 7.6 83.7 12.3 161.7 15.2c37.1 1.4 76.8 2.3 116.5 2.8c13.9.2 26.8.3 38.4.4h29.4c11.6-.1 24.5-.2 38.4-.4c39.7-.5 79.4-1.4 116.5-2.8c78-3 133.5-7.7 161.7-15.2c47.9-12.8 85.5-50.5 98.3-98.5c6.1-22.6 10.4-52.7 13.4-88.8c2.2-26.2 3.6-54 4.4-81.9c.3-9.7.4-18.8.5-26.9c0-2.9.1-5.4.1-7.6v-5.6zm-72 5.2c0 2.1 0 4.4-.1 7.1c-.1 7.8-.3 16.4-.5 25.7c-.7 26.6-2.1 53.2-4.2 77.9c-2.7 32.2-6.5 58.6-11.2 76.3c-6.2 23.1-24.4 41.4-47.4 47.5c-21 5.6-73.9 10.1-145.8 12.8c-36.4 1.4-75.6 2.3-114.7 2.8c-13.7.2-26.4.3-37.8.3h-28.6l-37.8-.3c-39.1-.5-78.2-1.4-114.7-2.8c-71.9-2.8-124.9-7.2-145.8-12.8c-23-6.2-41.2-24.4-47.4-47.5c-4.7-17.7-8.5-44.1-11.2-76.3c-2.1-24.7-3.4-51.3-4.2-77.9c-.3-9.3-.4-18-.5-25.7c0-2.7-.1-5.1-.1-7.1v-4.8c0-2.1 0-4.4.1-7.1c.1-7.8.3-16.4.5-25.7c.7-26.6 2.1-53.2 4.2-77.9c2.7-32.2 6.5-58.6 11.2-76.3c6.2-23.1 24.4-41.4 47.4-47.5c21-5.6 73.9-10.1 145.8-12.8c36.4-1.4 75.6-2.3 114.7-2.8c13.7-.2 26.4-.3 37.8-.3h28.6l37.8.3c39.1.5 78.2 1.4 114.7 2.8c71.9 2.8 124.9 7.2 145.8 12.8c23 6.2 41.2 24.4 47.4 47.5c4.7 17.7 8.5 44.1 11.2 76.3c2.1 24.7 3.4 51.3 4.2 77.9c.3 9.3.4 18 .5 25.7c0 2.7.1 5.1.1 7.1v4.8zM423 646l232-135l-232-133z"/></g></svg></svg>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>