html {
    font-family: 'NATS', sans-serif;
    background: linear-gradient(rgba(43,43,43,1) 0%, rgba(24,24,24,1) 100%);
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-sign {
    margin: 0;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 10%);
    border: 1px solid white;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 30px;
    background-color: #333333;
    border-radius: 25px;
    -webkit-box-shadow: 30px 30px 50px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 30px 30px 50px 0px rgba(0,0,0,0.25);
    box-shadow: 30px 30px 50px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: -30px -30px 50px 0px rgba(255,255,255,0.07);
    -moz-box-shadow: -30px -30px 50px 0px rgba(255,255,255,0.07);
    box-shadow: -30px -30px 50px 0px rgba(255,255,255,0.07);
}

.container {
    position: relative;
}

.contact {
    display: flex;
    gap: 10px;
}

.login {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: #f3ec78;
    background-image: linear-gradient(90deg, rgba(0,255,12,1) 0%, rgba(0,255,205,1) 100%);
    background-size: 100%;
    font-size: 0.75em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.account-exists {
    text-align: center;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#heading {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2em;
    padding-bottom: -20px;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 0.5em;
    border-radius: 25px;
    border: 1px inset transparent;
    transition: .4s ease-in-out;
    outline: none;
    color: white;
    background-color: #2e2e2e;
    box-shadow: inset 0px 0px 10px rgb(5, 5, 5);
}

.field:hover {
    border: 1px inset white;
}

.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
}

.input-field {
    text-align: center;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
}

.form-sign .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 30px;
}

th {
    color: #d8e4ff;
    font-size: 20px;
}

.button2 {
    width: 100%;
    padding: 10px;
    border-radius: 100px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background: linear-gradient(90deg, rgba(0,255,12,1) 0%, rgba(0,255,205,1) 100%);
    color: white;
}

.button2:hover {
    -webkit-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.25);
    color: white;
}
