html {
    font-family: 'NATS', sans-serif;
    background: #2B2B2B;
}

.container {
    padding: 15px 40px;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    justify-content: center;
}

.header-container {
    position: relative;
    margin-top: -25px;
    margin-left: -47px;
    margin-right: -47px;
}

.header {
}

.header-lord-icon {
    display: flex;
    gap: 30px;
    filter: invert(99%) sepia(100%) saturate(7494%) hue-rotate(178deg) brightness(103%) contrast(101%);
}

.control-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

table {
    text-align: center;
}

.main {
    color: #D8E4FF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.main-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-logo-svg {
    width: 50px;
    height: 50px;
    filter: invert(59%) sepia(52%) saturate(4504%) hue-rotate(80deg) brightness(121%) contrast(120%);
}

.order-container {
    align-items: center;
    justify-content: center;
    display: flex;
}

table {
    width: 990px;
}

.order {
    padding: 20px;
    color: #d8e4ff;
    border: 1px solid white;
    background-color: #333333;
    border-radius: 25px;
    -webkit-box-shadow: 30px 30px 50px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 30px 30px 50px 0px rgba(0,0,0,0.25);
    box-shadow: 30px 30px 50px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: -15px -15px 50px 0px rgba(255,255,255,0.07);
    -moz-box-shadow: -15px -15px 50px 0px rgba(255,255,255,0.07);
    box-shadow: -15px -15px 50px 0px rgba(255,255,255,0.07);
}

.bottom-container {
    padding-top: 20px;
    position: relative;
    margin-left: -47px;
    margin-right: -47px;
    margin-bottom: -20px;
}

.bottom {
    background: #1B1B1B;
    color: #d8e4ff;
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 180px;
}

.social-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.field-input {
    background-color: #D8E4FF;
    border-radius: 100px;
    padding: 10px 230px 10px 15px;
    transition: .4s ease-in-out;
    border: 1px inset transparent;
}

.field-input:hover {
    border: 1px inset #00FFA3;
    transition: .4s ease-in-out;
}