html {
    font-family: 'NATS', sans-serif;
    background: #2B2B2B;
}

.container {
    padding: 15px 40px;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    justify-content: center;
}

.header-container {
    position: relative;
    margin-top: -25px;
    margin-left: -47px;
    margin-right: -47px;
}

.header {
}

.header-lord-icon {
    display: flex;
    gap: 30px;
    filter: invert(99%) sepia(100%) saturate(7494%) hue-rotate(178deg) brightness(103%) contrast(101%);
}

.control-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.main {
    color: #D8E4FF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.main-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.components {
}

.components.active {
    display: block;
}

.cpu-info-block {
    padding-top: 20px;
}

.cpu-info-block-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 270px;
}

.cpu-info-block-line {
    display: flex;
    align-items: center;
    color: #d8e4ff;
    padding-bottom: 20px;
    border-radius: 25px;
    transition: .4s ease-in-out;
    cursor: pointer;
}

.cpu-info-block-line:hover {
    background: #1B1B1B;
    transition: .4s ease-in-out;
}

.cpu-info-block-line.active {
    /* Add styles for the active state if necessary */
}

.cpu-info-block-details.active {
    max-height: 500px; /* Or any other styles for the active state */
}

.cpu-info-block-name {
    width: 200px;
}

.cpu-info-block-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.config-info-container {
    display: flex;
}

.config-info {
    padding-right: 20px;
}

.config-info-text {
    text-align: center;
    background: #d8e4ff;
    border-radius: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.main-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-logo-svg {
    width: 50px;
    height: 50px;
    filter: invert(59%) sepia(52%) saturate(4504%) hue-rotate(80deg) brightness(121%) contrast(120%);
}

.side-category-icon-svg {
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    flex-direction: column;
    padding: 15px;
    background-color: #333333;
    border-radius: 25px;
    -webkit-box-shadow: 30px 30px 50px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 30px 30px 50px 0px rgba(0,0,0,0.25);
    box-shadow: 30px 30px 50px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: -30px -30px 50px 0px rgba(255,255,255,0.07);
    -moz-box-shadow: -30px -30px 50px 0px rgba(255,255,255,0.07);
    box-shadow: -15px -15px 50px 0px rgba(255,255,255,0.07);
}

.bottom-container {
    padding-top: 20px;
    position: relative;
    margin-left: -47px;
    margin-right: -47px;
    margin-bottom: -20px;
}

.bottom {
    background: #1B1B1B;
    color: #d8e4ff;
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 180px;
}

.social-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.config-info-input-field {
    background-color: #2B2B2B;
    border-radius: 100px;
    padding: 10px;
    border: 1px inset transparent;
    transition: .4s ease-in-out;
}

.config-info-input-field:hover {
    border: 1px inset #00FFA3;
    transition: .4s ease-in-out;
}

.field-input {
    background-color: #D8E4FF;
    border-radius: 100px;
    padding: 10px 230px 10px 15px;
    transition: .4s ease-in-out;
    border: 1px inset transparent;
}

.field-input:hover {
    border: 1px inset #00FFA3;
    transition: .4s ease-in-out;
}

.btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-right: 20px;
    padding-left: 270px;
}

.button2 {
    width: 100%;
    padding: 10px;
    border-radius: 100px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background: linear-gradient(90deg, rgba(0,255,12,1) 0%, rgba(0,255,205,1) 100%);
    color: white;
}

.button2:hover {
    -webkit-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.25);
    color: white;
}