html {
    font-family: 'NATS', sans-serif;
    background: #2B2B2B;
}

.container {
    padding: 15px 40px;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    justify-content: center;
}

table {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.body-container {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #d8e4ff;
    align-items: center;
    justify-content: center;
}

.header-container {
    position: relative;
    margin-top: -25px;
    margin-left: -47px;
    margin-right: -47px;
}

.header {
}

.header-lord-icon {
    display: flex;
    gap: 30px;
    filter: invert(99%) sepia(100%) saturate(7494%) hue-rotate(178deg) brightness(103%) contrast(101%);
}

.control-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.main {
    color: #D8E4FF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.main-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-logo-svg {
    width: 50px;
    height: 50px;
    filter: invert(59%) sepia(52%) saturate(4504%) hue-rotate(80deg) brightness(121%) contrast(120%);
}

.body-main-btn-container {
    display: flex;
}

.bottom-container {
    padding-top: 20px;
    position: relative;
    margin-left: -47px;
    margin-right: -47px;
    margin-bottom: -20px;
}

.bottom {
    background: #1B1B1B;
    color: #d8e4ff;
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 180px;
}

.social-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.sort-panel {
    right: -1050px;
    position: relative;
    display: inline-block;
    transition: .4s ease-in-out;
}

.sort-panel-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 25px;
    transition: .4s ease-in-out;
}

.sort-panel-dropdown-content {
    display: none;
    position: absolute;
    background-color: #d8e4ff;
    min-width: 160px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.25);
    z-index: 1;
    transition: .4s ease-in-out;
}

.sort-panel-dropdown-btn {
    padding: 10px;
    width: 160px;
    border-radius: 100px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background: #6B818C;
    color: white;
}

.sort-panel:hover .sort-panel-dropdown-btn {
    background-color: #333333;
    -webkit-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.25);
    color: white;
    transition: .4s ease-in-out;
}

.sort-panel:hover .sort-panel-dropdown-content {
    display: block;
    transition: .4s ease-in-out;
}

.sort-panel-dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 25px;
    transition: .4s ease-in-out;
}

.catalog-row {
    gap: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
}

.catalog-product-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

table {
    text-align: center;
    width: 1200px;
    padding-left: 150px;
}

.catalog-product {
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    background-color: #333333;
    border-radius: 25px;
    -webkit-box-shadow: 30px 30px 50px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 30px 30px 50px 0px rgba(0,0,0,0.25);
    box-shadow: 30px 30px 50px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: -15px -15px 50px 0px rgba(255,255,255,0.07);
    -moz-box-shadow: -15px -15px 50px 0px rgba(255,255,255,0.07);
    box-shadow: -15px -15px 50px 0px rgba(255,255,255,0.07);
}

.catalog-product-image-png {
    padding: 10px 10px 0 10px;
    border-radius: 25px;
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.catalog-product-text {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.catalog-product-text-h2 {
    margin-top: 0;
    font-size: 30px;
    height: 15px;
}

.catalog-product-text-h4 {
    margin-top: 0;
    font-size: 20px;
    height: 15px;
}

.catalog-product-text-p {
    padding-right: 10px;
    padding-left: 10px;
}

.catalog-product-button-browse-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog-product-button-browse {
    padding: 30px;
}

.button-1 {
    padding: 10px 30px;
    border-radius: 100px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background: linear-gradient(90deg, rgba(0,255,12,1) 0%, rgba(0,255,205,1) 100%);
    color: white;
}

.button-1:hover {
    -webkit-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.25);
    color: white;
}

.build {
    display: flex;
    padding-left: 20px;
}

.build-btn {
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
    border-radius: 100px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background: rgb(255,0,84);
    background: linear-gradient(90deg, rgba(255,0,84,1) 0%, rgba(250,0,255,1) 100%);
    color: white;
}

.build-btn:hover {
    -webkit-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.25);
    color: white;
}

.field-input {
    background-color: #D8E4FF;
    border-radius: 100px;
    padding: 10px 230px 10px 15px;
    transition: .4s ease-in-out;
    border: 1px inset transparent;
}

.field-input:hover {
    border: 1px inset #00FFA3;
    transition: .4s ease-in-out;
}