html {
    font-family: 'NATS', sans-serif;
    background: #333333;
}

.container {
    padding: 15px 40px;
    max-width: 100%;
    color: #d8e4ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body {
    align-items: center;
    justify-content: center;
}

.body-message {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.body-success {
    align-items: center;
    justify-content: center;
    display: block;
}

.body-action {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.button-1 {
    padding: 10px 30px;
    border-radius: 100px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background: linear-gradient(90deg, rgba(0,255,12,1) 0%, rgba(0,255,205,1) 100%);
    color: white;
}

.button-1:hover {
    -webkit-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.25);
    color: white;
}