<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerd Nook</title>
    <link rel="stylesheet" href="/static/css/addproductform.css" type="text/css">
    <link th:href="@{/css/addproductform.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <form class="form-sign" method="post" novalidate th:action="@{/custompc/newpc}" th:method="POST" th:object="${custompc}">
        <p id="heading">Create new PC</p>

        <div class="field">
            <input class="input-field" placeholder="PC config name" type="text" id="name" th:field="*{configName}" required />
        </div>
        <div class="btn">
            <button type="submit" class="button2">Save</button>
        </div>
    </form>
</div>
</body>
</html>