<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>Nerd Nook - Sign in</title>
    <link href="/static/css/checkout.css" rel="stylesheet" />
    <link th:href="@{/css/checkout.css}" rel="stylesheet" />
    <link href="https://fonts.cdnfonts.com/css/nats" rel="stylesheet">
</head>
<body>
<div class="container">
    <form class="form-sign" th:action="@{/orders/place-order}" th:method="POST" th:object="${order}">
        <p id="heading">Checkout</p>
        <div class = "contact">
            <div class = "field">
                <input th:field="*{fullAddress.country}" placeholder="Country" class="input-field" type="text">
            </div>
            <div class = "field">
                <input th:field="*{fullAddress.city}" placeholder="City" class="input-field" type="text">
            </div>
        </div>
        <div class = "field">
            <input th:field="*{fullAddress.address}" placeholder="Address" class="input-field" type="text">
        </div>
        <div class="field">
            <input th:field="*{postelCode}" placeholder="Postal code" class="input-field" type="number">
        </div>
        <div class="field">
            <select class="input-field"  th:field="*{shippingType}">
                <option th:each="type : ${T(com.epam.pcconfig.models.ShippingTypeEnum).values()}"
                        th:value="${type}" th:text="${type}">Shipping type</option>
            </select>
        </div>
        <div class="btn">
            <button class="button2">Order</button>
        </div>
    </form>
</div>
</body>
</html>