<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerd Nook</title>
<!--    <link rel="stylesheet" href="/static/css/addproductform.css" type="text/css">-->
    <link th:href="@{/css/addproductform.css}" rel="stylesheet">
    <script th:src="@{/scripts/addproductform.js}"></script>
</head>
<body>
<div class="container">
    <form class="form-sign" method="post" th:action="@{/admin/newattributes}" th:object="${productAttributeDto}" novalidate>
        <p id="heading">Add Product Attributes</p>

        <div id="attributes">
            <div class="attribute-template">
                <div class="attribute">
                    <div class="field">
                        <div>
                            <input class="input-field" placeholder="Attribute" type="text" th:field="*{attributeName}" required />
                        </div>
                        <div>
                            <select class="input-field"  th:field="*{measurementUnit}">
                                <option th:each="unit : ${T(com.epam.pcconfig.models.dto.products.MeasureUnitEnum).values()}"
                                        th:value="${unit}" th:text="${unit}">Unit</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="btn">
            <button type="submit" class="button2">Save</button>
        </div>
    </form>
</div>
</body>
</html>