<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerd Nook</title>
    <link rel="stylesheet" href="/static/css/addproductform.css" type="text/css">
    <link th:href="@{/css/addproductform.css}" rel="stylesheet">
    <script th:src="@{/scripts/addproductform.js}"></script>
</head>
<body>
<div class="container">
    <form class="form-sign" method="post" novalidate th:action="@{/admin/newproduct}" th:method="POST" th:object="${productDto}">
        <p id="heading">Add your product</p>

        <div class="field">
            <input class="input-field" placeholder="Product name" type="text" id="name" th:field="*{name}" required />
        </div>
        <div class="field">
            <select class="input-field" th:field="*{productType}">
                <option th:each="type : ${T(com.epam.pcconfig.models.dto.products.ProductTypeEnum).values()}"
                        th:value="${type}" th:text="${type}">Product Type</option>
            </select>
        </div>
        <div class="btn">
            <button type="submit" class="button2">Save</button>
        </div>
    </form>
</div>
</body>
</html>