<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerd Nook</title>
    <link rel="stylesheet" href="/static/css/addproductform.css" type="text/css">
    <link th:href="@{/css/addproductform.css}" rel="stylesheet">
    <script th:src="@{/scripts/addproductform.js}"></script>
</head>
<body>
<div class="container">
    <form class="form-sign" method="post" th:action="@{/admin/newattributevalues}" th:object="${productValues}" novalidate>
        <p id="heading">Add Product Values</p>

        <div id="attributes">
            <div class="attribute-template">
                <div class="attribute">
                    <div class="field">
                        <div>
                            <select class="input-field" th:field="*{productId}">
                                <option th:each="product : ${products}" th:value="${product.productId}" th:text="${product.productName}">Product</option>
                            </select>
                        </div>
                        <div>
                            <select class="input-field" th:field="*{productAttributeId}">
                                <option th:each="attribute : ${attributes}" th:value="${attribute.productAttributeId}" th:text="${attribute.attributeName}">Attribute</option>
                            </select>
                        </div>
                        <div>
                            <input class="input-field" placeholder="Value" type="text" th:field="*{value}" required />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="btn">
            <button type="submit" class="button2">Save</button>
        </div>
    </form>
</div>
</body>
</html>