<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerd Nook</title>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css}" type="text/css">
</head>
<body>
<div class="container container-fluid px-5">
    <table class="table table-hover table-bordered user-select-none">
        <thead class="table-header table-dark">
        <tr>
            <th>ID</th>
            <th>Config name</th>
            <th>Username</th>
            <th>Create date</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="config: ${configs}">
            <tr>
                <th th:text="${config.configId}"></th>
                <th th:text="${config.configName}"></th>
                <th th:text="${config.user.username}"></th>
                <th th:text="${config.createDate}"></th>
            </tr>
        </th:block>
        </tbody>
    </table>
    <a class="btn btn-primary fs-4" th:href="@{/admin}">Home</a>
</div>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</body>
</html>