<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css}" type="text/css">
</head>
<body>
<div class="container container-fluid min-vh-100 d-flex flex-column px-5">
    <div class="d-flex flex-column flex-grow-1 align-items-center justify-content-center">
        <h1 class="text-center mb-4 fw-normal user-select-none">Select entities to control:</h1>
        <div class="button-container d-flex flex-column gap-4 w-100">
            <a class="btn btn-primary fs-3" th:href="@{/users/list}">All users</a>
            <a class="btn btn-primary fs-3" th:href="@{/admin/valuesobserve}">All products</a>
            <a class="btn btn-primary fs-3" th:href="@{/admin/allconfigs}">All configs</a>
        </div>
    </div>
</div>
</body>
</html>