<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerd Nook</title>
    <link href="" rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css}" type="text/css">
</head>
<body>
<div class="container container-fluid px-5">
    <table class="table table-hover table-bordered user-select-none">
        <thead class="table-header table-dark">
        <tr>
            <th>Name</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="product: ${products}">
            <tr>
                <th th:text="${product.productName}"></th>
                <th th:text="${product.productType.productTypeName}"></th>
            </tr>
        </th:block>
        </tbody>
    </table>
    <a class="btn btn-primary fs-4" th:href="@{/admin/addvalues}">Add value to product</a>
    <a class="btn btn-primary fs-4" th:href="@{/admin/addattributes}">Add new attribute</a>
    <a class="btn btn-primary fs-4" th:href="@{/admin/add}">Add new product</a>
</div>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</body>
</html>