<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerd Nook</title>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css}" type="text/css">
</head>
<body>
<div class="container container-fluid px-5">
    <table class="table table-hover table-bordered user-select-none">
        <thead class="table-header table-dark">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Authorities</th>
            <th>Enabled</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="user: ${users}">
            <tr>
                <th th:text="${user.userId}"></th>
                <th th:text="${user.username}"></th>
                <th th:text="${user.email}"></th>
                <th th:text="${user.firstName}"></th>
                <th th:text="${user.lastName}"></th>
                <th th:text="${user.roles}"></th>
                <th th:text="${user.enabled}"></th>
                <th class="action-buttons d-flex flex-column gap-1">
                    <form th:action="@{/users/ban/{userId}(userId=${user.userId})}" th:method="POST">
                        <input class="btn btn-danger" th:value="Ban"
                               type="submit">
                    </form>
                </th>
            </tr>
        </th:block>
        </tbody>
    </table>
    <a class="btn btn-primary fs-4" th:href="@{/admin}">Home</a>
</div>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</body>
</html>