<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerd Nook</title>
    <link rel="stylesheet" href="/static/css/addproductform.css" type="text/css">
    <link th:href="@{/css/addproductform.css}" rel="stylesheet">
    <script th:src="@{/scripts/addproductform.js}"></script>
</head>
<body>
<div class="container">
    <form class="form-sign" method="post" novalidate th:action="@{/seller/posttostore}" th:method="POST" th:object="${productToStoreDto}">
        <p id="heading">Add your product</p>

        <div class="field">
            <select class="input-field" id="productId" th:field="*{productId}" required>
                <option value="" disabled selected>Select a product</option>
                <option th:each="product : ${products}" th:value="${product.productId}" th:text="${product.productName}">Product</option>
            </select>
        </div>

        <div class="field">
            <input class="input-field" placeholder="Price" type="number" id="price" th:field="*{price}" required />
        </div>

        <div class="btn">
            <button class="button2" th:type="submit">Add product</button>
        </div>
    </form>
</div>
</body>
</html>