<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nerd Nook</title>
  <link rel="stylesheet" href="/static/css/sellerform.css" type="text/css">
  <link rel="stylesheet" th:href="@{/css/sellerform.css}" type="text/css">
  <link href="https://fonts.cdnfonts.com/css/nats" rel="stylesheet">
</head>
<body>
<div class="container">
  <form class="form-sign" method="post" novalidate th:action="@{/seller/switch}" th:method="POST" th:object="${seller}">
    <p id="heading">Provide a store info</p>
    <div class="field">
      <input autocomplete="off" placeholder="Username" class="input-field" th:field="*{username}" th:type="text">
    </div>
    <div class = "contact">
      <div class = "field">
        <input placeholder="Store name" class="input-field" th:field="*{storeName}" th:type="text">
      </div>
      <div class = "field">
        <input placeholder="Address" class="input-field" th:field="*{address}" th:type="text">
      </div>
    </div>
    <div class = "field">
      <input placeholder="Email" class="input-field" th:field="*{contactEmail}" th:type="text">
    </div>
    <div class="field">
      <input placeholder="Status" class="input-field" th:field="*{status}" th:type="password">
    </div>
    <div class="btn">
      <button class="button2" th:type="submit">Become a seller</button>
    </div>
    <div class = "account-exists">
      <p id="bottom-option">Already have an account?</p>
      <button class="login">Log in</button>
    </div>
  </form>
</div>
</body>
</html>