<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerd Nook</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">
    <link href="https://fonts.cdnfonts.com/css/nats" rel="stylesheet">
</head>
<body>
<div class="body-main-btn-container">
    <div class="seller-info">
        <table>
            <thead>
            <tr>
                <th>Seller name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Store name</th>
            </tr>
            </thead>
            <th:block th:object="${seller}">
                <tr>
                    <th th:text="${seller.username}"></th>
                    <th th:text="${seller.email}"></th>
                    <th th:text="${seller.address}"></th>
                    <th th:text="${seller.storeName}"></th>
                </tr>
            </th:block>
        </table>
    </div>
    <div class="btn">
        <button class="button2" th:type="submit">Assign product to store</button>
    </div>
</div>
</body>
</html>