<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerd Nook</title>
    <link rel="stylesheet" th:href="@{/css/success.css}" type="text/css">
    <link rel="stylesheet" href="/static/css/success.css"/>
    <link href="https://fonts.cdnfonts.com/css/nats" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="body">
        <div class="body-message">
            <h1>You have been registered as a seller successfully</h1>
        </div>
        <div class="body-success">
            <div class="button">
                <a class="button-1" th:href="@{/seller/observe}">Seller home</a>
            </div>
            <div class="button">
                <a class="button-1" th:href="@{/seller/add-to-store}">Ready-made PCs</a>
            </div>
            <div class="button">
                <a class="button-1" th:href="@{/custompc/build}">Build new PC</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>