<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerd Nook - Log in</title>
<!--    <link href="/static/css/login.css" rel="stylesheet">-->
    <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.cdnfonts.com/css/nats" rel="stylesheet">
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.</div>
<div th:if="${param.logout}">
    You have been logged out.</div>
<form class="form-login" th:action="@{/login}" method="post">
    <p id="heading">Login</p>
    <div class="field">
        <input autocomplete="off" placeholder="Username" name="username" class="input-field" type="text">
    </div>
    <div class="field">
        <input placeholder="Password" name="password" class="input-field" type="password">
    </div>
    <div class="account-exists">
        <button class="login" type="button">Forgot password?</button>
    </div>
    <div class="btn">
        <button class="button1" type="submit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
    </div>
    <div class="account-exists">
        <p id="bottom-option">Don't have an account yet?</p>
        <button class="login" type="button">Sign in</button>
    </div>
</form>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Please Log In</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Please Log In</h1>-->
<!--<div th:if="${param.error}">-->
<!--    Invalid username and password.</div>-->
<!--<div th:if="${param.logout}">-->
<!--    You have been logged out.</div>-->
<!--<form th:action="@{/login}" method="post">-->
<!--    <div>-->
<!--        <input type="text" id="username" name="username" placeholder="Username"/>-->
<!--    </div>-->
<!--    <div>-->
<!--        <input type="password" id="password" name="password" placeholder="Password"/>-->
<!--    </div>-->
<!--    <input type="submit" value="Log in" />-->
<!--</form>-->
<!--</body>-->
<!--</html>-->