<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>Nerd Nook - Sign in</title>
    <link th:href="@{/css/signin.css}" rel="stylesheet" />
    <link href="https://fonts.cdnfonts.com/css/nats" rel="stylesheet">
</head>
<body>
<div class="container">
<form class="form-sign" method="post" novalidate th:action="@{/signin/save}" th:method="POST" th:object="${user}">
    <p id="heading">Create an account</p>
    <div class="field">
        <input autocomplete="off" placeholder="Username" class="input-field" th:field="*{username}" th:type="text">
    </div>
    <div class = "contact">
        <div class = "field">
            <input placeholder="First name" class="input-field" th:field="*{firstName}" th:type="text">
        </div>
        <div class = "field">
            <input placeholder="Last name" class="input-field" th:field="*{lastName}" th:type="text">
        </div>
    </div>
    <div class = "field">
        <input placeholder="Email" class="input-field" th:field="*{email}" th:type="text">
    </div>
    <div class="field">
        <input placeholder="Password" class="input-field" th:field="*{password}" th:type="password">
    </div>
    <div class="btn">
        <button class="button2" th:type="submit">Sign Up</button>
    </div>
    <div class = "account-exists">
        <p id="bottom-option">Already have an account?</p>
        <button class="login">Log in</button>
    </div>
</form>
</div>
</body>
</html>